*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
bin/*

# Scala-IDE specific
.scala_dependencies
.cache
.sc
.cache
.classpath
.history
.project
.settings/
.worksheet/
 
target/
lib_managed/

project/boot/
project/build/target/
project/plugins/target/
project/plugins/lib_managed/
project/plugins/src_managed/
